@import url(https://fonts.googleapis.com/css?family=Montserrat);

.App {
    background: rgb(241, 200, 164);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 3fr;
    place-items: center;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: montserrat, arial, verdana;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.form-container .header {
    flex: 20%;
    display: grid;
    place-items: center;
}

.form-container .body {
    flex: 60%;
}

.form-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
}

.form-container .footer button {
    border-radius: 7px;
    width: 100px;
    height: 40px;
    background-color: navy;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    margin: 25px 10px;
}

.nome-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome-container input {
    margin: 5px;
    width: 380px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
}

.endereco-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endereco-container input {
    margin: 5px;
    width: 380px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
}

.cpf-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cpf-container input {
    margin: 5px;
    width: 380px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
}

input {
    border: 2px solid rgb(98, 0, 255);
    border-radius: 5px;
}

input:focus {
    border: 3px solid rgb(98, 0, 255);
}

/* ---------------------------- SIDEBAR --------------------------- */

.sidebar-container {
    width: 100%;
    height: 100%;
    background: #78B2E8;
}

.HomeSideBar>a {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 30px;
}

a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

.box-input {
    width: 220px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 13px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.teste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}